@font-face {
  font-family: "Roboto";
  src: url("../../Font/Roboto-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../Font/BebasNeue-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Open Sans";
  src: url("../../Font/OpenSans-Regular.ttf") format(truetype);
}

h1 {
  font-family: "Bebas Neue";
}

h2 {
  font-family: "Bebas Neue";
}

h3 {
  font-family: "Bebas Neue";
}

body {
  font-family: "Open Sans";
  font-size: 18px;
}

p {
  font-family: "Open Sans";
  font-size: 14px;
}

button {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
}

* {
  overflow-x: hidden;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.nav-items a.nav-link:hover {
  color: #ffb548;
  font-size: 0.9em;
  transition: 1s;
}

.play {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  padding-left: 4.5em;
  padding-right: 4.5em;
}

.play:hover {
  border: 1px solid #f3af34;
}

.navbar-brand {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.5em;
}
.nav-link {
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 0.8em;
}

.main-bg {
  background-image: url("../../main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div > h1:first-child {
  font-family: "Bebas Neue";
  color: white;
  font-size: 5.2em;
  font-weight: bold;
}

.main-bg > div > p,
button {
  font-family: "Roboto";
}

.main-bg > div > button {
  font-weight: bold;
}

.icon-story {
  width: 50px;
}

a.story:hover {
  animation: jungkit;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 1s;
}

.special {
  background-image: url("../../the-games-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 25px;
}
.carousel-control-prev-icon {
  background-image: url("../../switch-left.svg") !important;
}

.carousel-control-next-icon {
  background-image: url("../../switch-right.svg") !important;
}

.spc {
  margin-top: 15vh;
}

.features {
  background-image: url("../../features.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.line {
  width: 5px;
  height: 20vh;
  border-left: 5px solid white;
  margin-left: 6px;
}

.sysreq {
  background-image: url("../../requirements.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.topScores {
  background-image: url("../../top-score-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter {
  background-image: url("../../newsletter.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.linkFoot {
  cursor: pointer;
}

.bi-facebook:hover {
  color: #4267b2;
}

.bi-twitter:hover {
  color: #1da1f2;
}

.bi-youtube:hover {
  color: #ff0000;
}

.bi-twitch:hover {
  color: #6441a5;
}
/* animation */
@keyframes jungkit {
  from {
    margin-bottom: 10px;
  }
  to {
    margin-bottom: 0px;
  }
}

/* responsive */
@media only screen and (min-width: 1200px) {
  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1200px) {
  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1036px) {
  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    text-align: left;
    margin-left: 2vw !important;
    padding: 0 !important;
  }

  .topTitle {
    position: static !important;
    margin-top: 100px;
  }

  .sysTitle {
    font-size: 18px !important;
  }

  .sysTxt {
    font-size: 12px !important;
  }

  .sysreqTitle {
    font-size: 3em !important;
  }

  #navbarSupportedContent > ul.navbar-nav:first-child {
    border-bottom: 0.5px solid white;
  }

  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 921px) {
  .main-text {
    font-size: 0.8em;
  }

  .newsCont {
    border-bottom: 0px !important;
  }
}

@media only screen and (max-width: 829px) {
  .main-text {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 768px) {
  .newsTitle {
    font-size: 50px !important;
  }
}

@media only screen and (min-width: 576px) {
}

@media only screen and (max-width: 480px) {
  .sysTitle {
    font-size: 15px !important;
  }

  .sysTxt {
    font-size: 9px !important;
  }

  .sysreqTitle {
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 452px) {
  .main-text {
    font-size: 0.6em;
  }

  .play {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 378px) {
  .newsTitle {
    font-size: 30px !important;
  }
}
