@font-face {
  font-family: "Open Sans";
  src: url("../../Font/OpenSans-Regular.ttf") format(truetype);
}

* {
  font-family: "Open Sans";
}

.dark-brown {
  color: #724c21;
}
.light-brown {
  background-color: #9c835f;
}
.yellow {
  color: #f9b23d;
}
.maroon {
  color: #bd0000;
}

.light-green {
  background-color: #4c9654;
}

.dark-green {
  background-color: #035b0c;
}

.light-grey {
  background-color: #c4c4c4;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

.nav-link {
  font-size: 3.5em;
}

.icon {
  width: 50px;
}

.player {
  width: 20vh;
  padding: 20px;
  cursor: pointer;
}

.player:hover {
  background-color: #c4c4c4;
  border-radius: 5px;
}

.comRock,
.comScissors,
.comPaper {
  width: 20vh;
  padding: 20px;
}

.result {
  font-size: 6em;
  color: #bd0000;
  letter-spacing: 3px;
}

.resultPlay {
  color: #fff;
  text-align: center;
  background-color: #4c9654;
  width: 250px;
  border-radius: 15px;
  height: min-content;
  transform: rotate(-20deg) translateX(-70px) translateY(-100px) !important;
  font-size: 3em;
}

.resultDraw {
  color: #fff;
  text-align: center;
  background-color: #035b0c;
  border-radius: 15px;
  width: 250px;
  height: 150px;
  line-height: 150px;
  transform: rotate(-20deg) translateX(-70px) translateY(-100px) !important;
  font-size: 3em;
  margin-bottom: 10px;
}

.active {
  background-color: #c4c4c4;
}

.refresh {
  width: 100px;
  padding: 20px;
  cursor: pointer;
  border-radius: 75%;
  transition: 2s;
}

.refresh:hover {
  background-color: #c4c4c4;
  animation: growth;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.wrapperGame {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* animations */
@keyframes growth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive */
@media only screen and (max-width: 991px) {
  .resultPlay {
    width: min-content;
    padding: 20px;
    height: max-content;
    font-size: 2em;
  }
  .resultDraw {
    width: min-content;
    height: 100px;
    line-height: 65px;
    padding: 20px;
    font-size: 2em;
  }
} ;
